<!-- Student:Abdullah Masood
* Student ID: 301342047
* Date: October 1,2023 -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Me</title>
    <link rel="stylesheet" href="about.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="/about.html">About Me</a></li>
                <li><a href="projects.html">Projects</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </nav>
        <br>
        <br>
        <h1>Allow Me to Introduce Myself</h1>
    </header>
    <section>
        <img src="AbdullahMasood.jpg" alt="This is a photo of me">
        <p>
            Hi, my name is Abdullah Masood. I'm currently working as an Electrical Engineer in Toronto, Ontario. My journey in the field of Electrical Engineering has been both rewarding and challenging, but I've always been driven by a passion for technology and problem-solving.
            While I enjoy my work in Electrical Engineering, I'm also working towards my goal of becoming a full-time Software Engineer. The world of software development has always fascinated me, and I believe it offers endless opportunities for creativity and innovation. I'm excited about the prospect of tackling new challenges and creating meaningful software solutions.
            What draws me to software engineering is the constant evolution of technology, the opportunity to learn and adapt, and the satisfaction of building software that can make a positive impact on people's lives. I'm committed to expanding my skills and knowledge in this field, and I'm eager to embrace the exciting journey ahead.

        </p>
        <h1>My Interests</h1>
        <ul>
            <li>Programming and coding</li>
            <li>Web development</li>
            <li>Machine learning and AI</li>
            <li>Open-source contributions</li>
            <li>Problem-solving</li>
        </ul>
        <h1>Education</h1>
        <h3>Centennial College: Software Engineering Technology  (2022- Present)</h3>
        <p>I'm currently in my third semester of software engineering technology program at Centennial College, where I'm actively exploring the dynamic world of software development.</p>
        <h3>Confederation College: Computer and Electronics Engineering (2016-2017)</h3>
        <p>I successfully completed my studies in Computer and Electronics Engineering at Confederation College. This education journey provided me with a strong foundation in technology and engineering principles, which I now apply to my pursuit of a career in software engineering.</p>
        <h3>Confederation College: Instrumentation & Control Engineering (2014-2016)</h3>
        <p>I earned my degree in Instrumentation & Control Engineering from confederation college in 2016. This program equipped me with valuable knowledge and skills in the field, and I'm proud to have successfully completed this educational milestone.</p>
        <h1>Work Experience</h1>
        <p>To learn more about my work experience, please click on the "Abdullah Masood's Resume" below to open my resume. Thank you,</p>
        <b><a href="https://drive.google.com/file/d/181SC28sZ358rPJ1Z7GtvVy6lIfxw0P1D/view?usp=drive_link" target="_blank">Abdullah Masood's Resume</a></b>

    </section>
</body>
</html>
